<div class="container">
  <nav class="navbar navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Feedrome</a>
      <!--    <div class="collapse navbar-collapse" id="navbarText">-->
<!--      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link active" aria-current="page" href="#">ログイン</a>-->
<!--        </li>-->
<!--      </ul>-->
<!--      <div class="mr-4">-->
<!--        <button class="btn btn-primary">-->
<!--          <a>いますぐお試し</a>-->
<!--        </button>-->
<!--      </div>-->
      <div>
        <button class="btn btn-outline-primary fw-bold">
          <a>ログイン</a>
        </button>
      </div>
    </div>
    <!--  </div>-->
  </nav>
  <p class="display-4 fw-bold text-center mt-5 mb-5">
    <strong>シンプルなRSSリーダー</strong>
  </p>
  <div class="col-md-3 mx-auto">
    <button class="btn btn-lg btn-primary w-100 fw-bold">
      <a>いますぐお試し</a>
    </button>
  </div>
</div>
